/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

GO FOR IT  :D   Don't worry about getting it exact!

*/

* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", serif;
  color: #656565;
}

#container {
  margin: 30px 235px;
  text-align: center;
  font-family: "Times New Roman", serif;
}

.logo-box {
  width: 225px;

  margin-left: 10px;
  display: inline-block;

  margin: 5px;
}
.logo-box img {
  border: 4px solid #9b999c;
}

header {
  text-align: left;
}

section {
  text-align: left;
  line-height: 17px;
}

footer p {
  text-align: left;
}

footer {
  text-align: left;
}

.date {
  color: #4896ca;
  font-size: 14px;
}

.read-more {
  color: #4896ca;
  text-decoration: none;
}
