/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

GO FOR IT  :D   Don't worry about getting it exact!

*/

* {
  margin: 0;
  padding: 0;
}

.logo-box {
  width: 40px;
  height: 30px;
  display: inline-block;
  border: 3px solid brown;
  background-color: #b08a73;
}
